{% extends 'base.html' %}
{% block title %}Корочки.есть{% endblock %}
{% block main %}
<div class="hero container">
    <div class="hero--info">
        <h1>Академия дополнительного профессионального образования и профессионального обучения</h1>
        <img src="{{ url_for('static', filename='img/poloska.png') }}" alt="">
        <p>Хотите повысить свою профессиональную квалификацию? Вам нужно усерднее заниматься с помощью хорошего наставника, чтобы улучшить свои рабочие показатели</p>
        <button class="btn"><a href="{{ url_for('auth') }}">Выбрать программу</a></button>
    </div>
    <img class="student" src="{{ url_for('static', filename='img/student.png' ) }}" alt="">
</div>
<div class="withslider container">
    <div class="textslider">
        <h1>У нас есть множество различных курсов, что бы вы смогли выбрать, что вам по душе!</h1>
        <p>Так же у нас есть курсы для инсотранных специалистов</p>
    </div>
<div class="slider-section">
    <button class="slider-btn prev" id="prevBtn">
        <img src="{{ url_for('static', filename='img/arrow-left.png') }}" alt="Назад">
    </button>

    <div class="slider-container">
        <div class="slider" id="slider">

        </div>
        <div class="dots" id="dots"></div>
    </div>

    <button class="slider-btn next" id="nextBtn">
        <img src="{{ url_for('static', filename='img/arrow-right.png') }}" alt="Вперёд">
    </button>
</div>
</div>
<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
{% endblock %}